{%extends 'base.html'%}

{% block title %}
    <title>About us</title>
{% endblock title %}

{% block content %}
    <p style="text-align: center;">This is the About us page.</p>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>The Team</th>
                <th>Contact us</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>someone</td>
                <td>09........</td>
            </tr>
            <tr>
                <td>2</td>
                <td>someone</td>
                <td>09........</td>
            </tr>
            <tr>
                <td>3</td>
                <td>someone</td>
                <td>09........</td>
            </tr>
        </tbody>
    </table>
{% endblock content %} 